// #customSelect {
//   .ant-select {
//     .ant-select-selector {
//       padding: 24px 12px !important;
//       border-radius: 8px !important;
//       display: flex;
//       align-items: center;
//     }
//   }
// }

.country-option {
  display: flex;
  align-items: center;
  gap: 8px;

  .country-flag {
    width: 20px;
    height: 15px;
    object-fit: cover;
  }
}
