.phone-input {
  width: 100%;
  .ant-select-selector {
    width: 100%;
  }
  .ant-select-selection-item {
    width: 100%;
  }
  .ant-select {
    width: 20%;
    height: 40px;
  }
  .ant-input {
    width: 20%;
    height: 40px;
    border-radius: 6px;
  }
}
