.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
  height: 312px;
}

.embla__dot {
  width: 50px;
  height: 8px;
  border-radius: 30px;
  background-color: #e9e9e9;
  margin: 0 5px;
  padding: 0;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
