.step-modal {
  .ant-modal {
    &-content {
      border-radius: 12px;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
      height: 90vh;
      max-height: 900px;
      display: flex;
      flex-direction: column;
    }
    &-body {
      flex: 1;
      overflow: hidden;
      padding: 0;
    }
  }
}

.custom-steps {
  .ant-steps {
    padding: 16px 24px;
    margin-bottom: 24px;
    border-radius: 8px 8px 0 0;

    @media (max-width: 768px) {
      padding: 12px 16px;
      margin-bottom: 16px;
    }

    .ant-steps-item {
      &-title {
        font-weight: 700;
        font-size: 14px;

        @media (max-width: 768px) {
          font-size: 12px;
        }
      }
    }
  }
}

.custom-scrollbar {
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: #fe7743;
    border-radius: 4px;

    &:hover {
      background: #d16236;
    }
  }
}
