.step-modal {
  .ant-modal {
    &-content {
      border-radius: 12px;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
      height: 90vh;
      max-height: 900px;
      display: flex;
      flex-direction: column;
    }
    &-body {
      flex: 1;
      overflow: hidden;
      padding: 0;
    }
  }
}

.custom-steps {
  .ant-steps {
    padding: 16px 24px;
    margin-bottom: 24px;
    border-radius: 8px 8px 0 0;

    @media (max-width: 768px) {
      padding: 12px 16px;
      margin-bottom: 16px;
    }

    .ant-steps-item {
      &-title {
        font-weight: 700;
        font-size: 14px;
        @media (max-width: 768px) {
          font-size: 12px;
        }
      }
      &-icon {
        width: 32px;
        height: 32px;
        background-color: #fcfcfc;
        border: 2px solid #e76b05;
        font-size: 16px;
        font-weight: 1000;
      }
      &-process {
        .ant-steps-item-icon {
          background-color: #ffc79a;
          width: 32px;
          height: 32px;
          padding: 0;
        }
      }
      &-wait {
        .ant-steps-item-icon {
          background-color: #f0ecd9c9;
          width: 32px;
          height: 32px;
          padding: 0;
        }
      }
      &-finish {
        .ant-steps-item-icon {
          background-color: #9fb889;
          width: 32px;
          height: 32px;
          padding: 0;
        }
      }
    }
  }
}

.custom-scrollbar {
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: #fe7743;
    border-radius: 4px;

    &:hover {
      background: #d16236;
    }
  }
}
