#customSelect {
  .ant-select-selector {
    height: 48px !important;
    padding: 12px 24px !important;
    border-radius: 8px;
    border: 1px solid #d9d9d9;
    box-shadow: none;
    display: flex;
    align-items: center;
    &:hover,
    &:focus,
    &.ant-select-focused {
      border-color: #40a9ff;
    }
  }
  .ant-select-selection-item {
    line-height: 1.5715;
    font-size: 14px;
    display: flex;
  }
  .ant-select-arrow {
    top: 50%;
  }
}
.country-option {
  display: flex;
  align-items: center;
  gap: 8px;
  .country-flag {
    width: 20px;
    height: 15px;
    object-fit: cover;
  }
}

#customSelect .ant-select-selection-wrap {
  display: flex !important;
  align-items: center !important;
  height: 100% !important;
}

#customSelect .ant-select-selection-placeholder {
  inset-inline-start: 0 !important;
  inset-inline-end: 0 !important;
}

#customSelect .ant-select-selection-search {
  margin-inline-start: 0 !important;
}
