@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  20%,
  60% {
    transform: translateX(-4px);
  }
  40%,
  80% {
    transform: translateX(4px);
  }
}

main.ant-layout-content {
  padding-bottom: 0 !important;
}

.custom-no-padding-bottom {
  padding-bottom: 0 !important;
}

.shake {
  animation: shake 0.5s infinite;
}
