.profile-dropdown-menu {
  .ant-dropdown-menu {
    padding: 5px;
    border-radius: 8px;
  }

  .ant-dropdown-menu-item {
    border-radius: 6px !important;
    // padding: 5px 12px; // Nếu muốn custom padding cho từng item
  }

  .ant-dropdown-menu-item:hover {
    border-radius: 6px !important;
    background: #d2d2f280 !important;
  }
}
