#container-public-layout-carousel {
  .slick-dots.slick-dots-bottom {
    margin-top: 20px;
  }
  .ant-carousel .slick-dots {
    position: relative;
  }
  .ant-carousel .slick-dots li {
    width: 50px;
    height: 8px;
    border-radius: 30px;
    background-color: #e9e9e9;
  }
  .ant-carousel .slick-dots li.slick-active {
    background-color: #fe7743;
    height: 8px;
    width: 50px;
  }
  .ant-carousel .slick-dots li button {
    height: 0;
  }

  .ant-carousel .slick-dots li button::after {
    bottom: -8px;
  }

  .ant-carousel .slick-dots li.slick-active button {
    width: 0%;
    height: 0%;
  }

  .ant-carousel .slick-dots li::after {
    background: none;
  }
}
