.custom-phone-input {
  .ant-input-affix-wrapper {
    height: 100% !important;
  }
  .ant-input-wrapper {
    height: 100% !important;
  }
  .ant-input {
    height: 100% !important;
  }
  .ant-input-group {
    height: 100% !important;
  }
  .ant-input-group-addon {
    height: 100% !important;
  }
}
