#container-input-field-auth {
  .ant-input:-webkit-autofill,
  .ant-input-password input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
    box-shadow: 0 0 0 30px white inset;
    -webkit-text-fill-color: #333;
    transition: background-color 5000s ease-in-out 0s;
    border-color: #d9d9d9;
  }

  .ant-input:-webkit-autofill:hover,
  .ant-input-password input:-webkit-autofill:hover,
  .ant-input:-webkit-autofill:focus,
  .ant-input-password input:-webkit-autofill:focus,
  .ant-input:-webkit-autofill:active,
  .ant-input-password input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset;
    box-shadow: 0 0 0 30px white inset;
    -webkit-text-fill-color: #333;
    border-color: #d9d9d9;
  }

  .ant-input:focus,
  .ant-input-focused,
  .ant-input-affix-wrapper:focus,
  .ant-input-affix-wrapper-focused {
    border-color: #d9d9d9;
    box-shadow: 0 0 0 2px rgba(217, 217, 217, 0.2);
  }

  .ant-form-item-has-success .ant-input,
  .ant-form-item-has-success .ant-input-affix-wrapper {
    border-color: #d9d9d9;
  }

  .ant-form-item-has-success .ant-input:hover,
  .ant-form-item-has-success .ant-input-affix-wrapper:hover {
    border-color: #d9d9d9;
  }

  .ant-form-item-has-success .ant-input:focus,
  .ant-form-item-has-success .ant-input-affix-wrapper:focus,
  .ant-form-item-has-success .ant-input-focused,
  .ant-form-item-has-success .ant-input-affix-wrapper-focused {
    border-color: #d9d9d9;
    box-shadow: 0 0 0 2px rgba(217, 217, 217, 0.2);
  }

  .ant-form-item-has-error .ant-input,
  .ant-form-item-has-error .ant-input-affix-wrapper {
    border-color: #ff4d4f;
  }

  .ant-form-item-has-error .ant-input:hover,
  .ant-form-item-has-error .ant-input-affix-wrapper:hover {
    border-color: #ff4d4f;
  }

  .ant-form-item-has-error .ant-input:focus,
  .ant-form-item-has-error .ant-input-affix-wrapper:focus,
  .ant-form-item-has-error .ant-input-focused,
  .ant-form-item-has-error .ant-input-affix-wrapper-focused {
    border-color: #ff4d4f;
    box-shadow: 0 0 0 2px rgba(255, 77, 79, 0.2);
  }

  .ant-form-item-has-error .ant-input:-webkit-autofill,
  .ant-form-item-has-error .ant-input-password input:-webkit-autofill {
    border-color: #ff4d4f;
  }
}
